/*
	@keyframes - Palavra usada para criar a animação. A palavra seguinte é o nome da animacação. Quando se cria uma
	animação é necessário informar os dados iniciais no campo from{} e os dados finais no campo to{} que é a forma
	que se deseja que fique depois que a nimcação acabar.

	animation-name - Atributo usado para chamar a animação naquele 'id'.
	animation-duration - Determina quanto tempo a animação vai durar.
	animation-iteration-count - Determina quanto tempo vai demorar pra a animação começar a ser executada depois que
	a pagina abrir.
	animation-direction - Determina para qual direção a animação vai ser executada. Se só vai ser executada pra frente
	ou se vai ser executada de frente pra trás.
	
*/


@keyframes animacao-box{

	from {background: red; border-radius: 0px; top: 0; bottom: 0}
	to {background: yellow; border-radius: 300px; top: 200px; bottom: 200px;}

}

#box-animacao{
	width: 300px;
	height: 300px;
	background: red;
	animation-name: animacao-box;
	animation-duration: 5s;
	animation-iteration-count: 2;
	animation-direction: alternate;
	position: relative;

	animation: ;
}